article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  background-image: linear-gradient(rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0.4)), url(../images/stardust.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.startInfo {
  width: 100%;
  position: absolute;
  top: 200px;
  transition: 0.5s;
}

h1 {
  color: white;
  text-align: center;
  font-size: 10rem;
  text-transform: uppercase;
  font-family: "Acme", sans-serif;
  margin: 0;
  text-shadow: 0 0 5px white;
  padding-top: 15px;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 0;
}

.search {
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  padding: 40px 0;
}

.search input[type="search"] {
  padding: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  text-align: center;
}

.search button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 200, 0, 0.4);
  border: none;
  align-content: center;
  color: white;
  transition: 0.3s;
}

.search button:hover {
  background-color: rgba(0, 255, 0, 0.4);
  color: #c8c8c8;
}

.search button:focus {
  outline: none;
}

#result__container {
  padding-top: 275px;
  padding-bottom: 50px;
  height: 900px;
  text-align: center;
}

#result__container img {
  margin: 0 auto;
  max-height: 350px;
}

#result__container p {
  margin: 30px auto;
  text-align: center;
  width: 60%;
  font-size: 2.5rem;
  font-family: 'Handlee', cursive;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 4px ridge gold;
  padding: 10px;
}

#result__container p:before {
  content: '"';
}

#result__container p:after {
  content: '"';
}

#result__container #logo {
  max-width: 60%;
  margin: 0 auto;
}

footer {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-familiy: "Montserrat", sans-serif;
}

footer img {
  margin: 20px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

footer p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 9rem;
  }
  .search {
    width: 80%;
    font-size: 2rem;
  }
  #result__container p {
    font-size: 2rem;
    width: 70%;
  }
}

@media (max-width: 605px) {
  h1 {
    font-size: 7rem;
  }
  .search {
    width: 100%;
    font-size: 1.5rem;
  }
  #result__container p {
    width: 85%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 5rem;
  }
  .startInfo {
    top: 100px;
  }
  .search {
    padding: 30px 0;
    display: block;
  }
  .search p {
    font-size: 2rem;
  }
  .search form {
    width: 100%;
  }
  .search form input {
    display: block;
  }
  .search form input[type="search"] {
    margin: 10px auto;
    width: 60%;
  }
  .search form button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }
  #result__container img {
    max-width: 90%;
  }
}

@media (max-width: 334px) {
  #result__container {
    padding-top: 300px;
  }
}
